{% extends 'wrappers-open' %}

{% block after_header %}
<header id="pageheader">
    <div class="full">

            <h1 id="pagetitle">Resources</h1>

                </div>
  </header>
{% endblock %}

{% block main %}
<div id="content" class="column" role="main">


              <div class="tabs"></div>
                          <div class="region region-content">
    <div id="block-system-main" class="block block-system">


  <div class="content">
    <article id="node-13017" class="node node-about-ioby-section clearfix">

<nav>
  <ul class="tabs"><li class="first leaf active-trail"><a href="/resources/learnfromaleader" class="active-trail active">Learn from a Leader</a></li>
<li class="leaf"><a href="/resources/recipes">Recipes for Change</a></li>
<li class="leaf"><a href="/resources/webinars">Webinars</a></li>
<li class="leaf"><a href="/resources/rainmakers">Rainmakers</a></li>
<li class="leaf"><a href="/resources/freeguides">Free Guides</a></li>
<li class="last leaf"><a href="/resources/fundraisingtips">Fundraising Tips</a></li>
</ul></nav>
<div class="content">
  <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p>Want to start your own project but need some inspiration? Our “Learn from a Leader” blog and video series is profiling past&nbsp;ioby&nbsp;Leaders who succeeded in bringing more fresh food, active transport, green spaces, and other healthy improvements to their neighborhoods. Scroll through the&nbsp;<a href="https://www.youtube.com/playlist?list=PL4m9-YbtNWgqbVXkL9djvVEtR7difJ4tA">Youtube&nbsp;video series</a>, read up on a&nbsp;project and imagine what you could do on your block!</p>
<p><div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe allowfullscreen="" frameborder="1" scrolling="yes" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL4m9-YbtNWgqbVXkL9djvVEtR7difJ4tA" name="fitvid0"></iframe></div></p>
<div>
	&nbsp;</div>
<div>
	<strong>Feeling inspired?</strong></div>
<div>
	<a href="//www.ioby.org/idea" style="text-align: center;"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2015/06/idea-button.png" style="width: 175px; height: 67px; float: left;"></a></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<h2>
	Learn from a Leader Blogs:</h2>
<table border="1" cellpadding="1" cellspacing="1" style="width: 766px;"><tbody><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-talk-and-draw-with-your-neighbors-about-race-racism-and-living-together"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/12/Kaela-Geschke.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-pilot-a-car-free-weekend-street-closure-in-your-neighborhood"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/12/Martha-Lopez-Gilpin-copy-copy.jpg" style="width: 300px; height: 200px;"></a></td>
</tr><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-rev-up-your-neighborhoods-green-spaces-with-a-fun-run"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/11/Irene-Branche.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-a-few-kitchen-updates-are-helping-this-nonprofit-better-feed-their-community"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Joyce-McMillan1.jpg" style="width: 300px; height: 200px;"></a></td>
</tr><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-turn-a-vacant-lot-into-a-multi-purpose-community-space"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Avital-Aboody.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-amplify-and-track-city-service-requests-with-a-community-311-phone-bank"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Michalyn-Easter1.jpg" style="width: 300px; height: 200px;"></a></td>
</tr><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-partner-with-your-city-to-create-new-bike-lanes"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Aylene-McCallum.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-bring-a-farmers-market-to-your-community-garden"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Angela-Maull.jpg" style="width: 300px; height: 200px;"></a></td>
</tr><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-help-expectant-moms-access-affordable-and-fun-fitness"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Andrea-Mata.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-bring-healthy-cooking-to-the-classroom"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Stacey-Murphy1.jpg" style="width: 300px; height: 200px;"></a></td>
</tr><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-help-peds-walk-safely-with-crosswalk-flags"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Sarah-Newstok.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-encourage-healthful-walking-with-helpful-signage"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Colleen-Corcoran.jpg" style="width: 300px; height: 200px;"></a></td>
</tr><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-outfit-women-in-need-with-essential-monthly-products"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Nikii-Rickey.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-create-a-pollinator-sanctuary"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Pete-Widin.jpg" style="width: 300px; height: 200px;"></a></td>
</tr><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-capture-and-report-sneckdowns"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Clarence-Eckerson1.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-build-a-community-garden-in-a-public-housing-complex"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Mac-Levine.jpg" style="width: 300px; height: 200px;"></a></td>
</tr><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-build-a-sensory-garden-for-everyone"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Jamie-Young.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-get-permissions-and-engage-your-community-for-a-big-public-mural"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/karen-golightly.jpg" style="width: 300px; height: 200px;"></a></td>
</tr><tr><td style="width: 361px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-renovate-a-neighborhood-basketball-court"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Daniel-Peterson.jpg" style="width: 300px; height: 200px;"></a></td>
<td style="width: 392px;">
				<a href="//www.ioby.org/blog/learn-from-a-leader-how-to-build-a-healing-herb-garden"><img alt="" src="//www.ioby.org/blog/wp-content/uploads/2016/10/Sheryll-Durrant1.jpg" style="width: 300px; height: 200px;"></a><br>
				&nbsp;</td>
</tr></tbody></table><p>&nbsp;</p>
<!-- Facebook Pixel Code --><script>
<!--//--><![CDATA[// ><!--

!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1385084981572384'); // Insert your pixel ID here.
fbq('track', 'PageView');

//--><!]]>
</script><p></p><noscript><img height="1" width="1" style="display:none" />
src="<a href="https://www.facebook.com/tr?id=1385084981572384&amp;ev=PageView&amp;noscript=1">https://www.facebook.com/tr?id=1385084981572384&amp;ev=PageView&amp;noscript=1</a>"<br />
/&gt;</noscript>
<!-- DO NOT MODIFY --><!-- End Facebook Pixel Code --><script src="//app-sj19.marketo.com/js/forms2/js/forms2.min.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[// ><!--

setTimeout(function() {
  MktoForms2.loadForm("//app-sj19.marketo.com", "257-KWL-011", 1018, function (form){
    MktoForms2.lightbox(form).show();
    form.onSuccess(function(values, followUpUrl){
    // Hide the form after submission
    form.getFormElem().hide();
    var list = document.getElementsByClassName("mktoModal");
    for(var i = list.length - 1; 0 <= i; i--)
    if(list[i] && list[i].parentElement)
    list[i].parentElement.removeChild(list[i]);
    //return false to prevent the submission handler from taking the lead to the follow up url.
      return false;
    });
  });
}, 30000);

//--><!]]>
</script></div></div></div></div> <!-- /.content -->

  <footer>
          </footer>


</article> <!-- /.node -->
  </div> <!-- /.content -->

</div> <!-- /.block -->
  </div>
          </div>
{% endblock %}
