@import "../../scss/refresh-variables";

.update {
  max-width: 1042px;
  margin: 0 auto;

  @media (max-width: 1000px) {
    max-width: 631px;
  }

  a {
    @include clearfix;
    width: 112%;
    display: block;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  &__image {
    float: left;
    width: 51%;

    @media (max-width: 1000px) {
      float: none;
      width: 100%;
    }

    img {
      max-width: 100%;
      width: auto;
      display: block;
      height: auto;
    }
  }

  &__text {
    background: #fff;
    float: right;
    width: 49%;
    margin: 60px 0 0;
    padding: 42px 48px 48px;
    left: -116px;
    position: relative;

    @media (max-width: 1000px) {
      float: none;
      width: auto;
      left: auto;
      margin: -46px 30px 0 30px;
      padding: 40px 32px;
    }

    @media (max-width: 400px) {
      margin: -28px 14px 0 14px;
      padding: 24px 24px 30px;
    }
  }
  &__title {
    font-family: $barlow;
    font-weight: 800;
    font-size: 36px;
    color: #000000;
    line-height: calc(40/36);
    margin: 0;
    padding: 0;
    border: none;
    transition: color .2s ease;

    @media (max-width: 400px) {
      font-size: 24px;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__date {
    font-family: $lato;
    font-weight: 400;
    font-size: 14px;
    color: #6A6B6E;
    margin-bottom: 5px;

    @media (max-width: 400px) {
      margin-bottom: 6px;
    }
  }

  &__description {
    margin-top: 24px;

    p {
      font-family: $lato;
      font-weight: 400;
      font-size: 16px;
      color: #000000;
      line-height: calc(26/16);
    }
  }

  &__button {
    margin-top: 35px;

    span {
      font-family: $barlow;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 2px;
      background: $theOrange;
      padding: 16px 30px 17px;
      display: inline-block;
      text-shadow: none;
      transtion: background .2s ease;

      &:hover {
        background: $theBlue;
        color: #fff;
        text-shadow: none;
      }
    }
  }
}
