ul.ioby-user-modal-tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.ioby-user-modal-tabs li{
  background: none;
  color: #3599cc;
  display: inline-block;
  padding: 0;
  margin: 0 20px;
  cursor: pointer;
}

ul.ioby-user-modal-tabs li.current{
  color: #222;
  position: relative;
}

ul.ioby-user-modal-tabs li.current:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #222;
  border-radius: 2px;
}

.ioby-user-modal-content-wrapper{
  height: inherit !important;
  padding: 0 15px !important;
}

.ioby-user-modal-content-wrapper label {
  margin-bottom: 4px;
}
.ioby-user-modal-content-wrapper .form-item {
  margin-bottom: 15px;
}
.ioby-user-modal-content-wrapper .capcta {
  margin: 24px 0;
}

.ioby-user-modal-tab-content{
  display: none;
}

.ioby-user-modal-tab-content.current{
  display: inherit;
}
