
div.project-notification{
  cursor: pointer;
  background-color: #e2edff;
  padding: 25px;
  border: 1px solid #d1dcff;
  margin: 25px 0;
  border-radius: 5px;
}

.project-notification{
  border-color: #e0e0e0;
}

.close-project-notification{
    margin-top: -1px;
    font-size: 20px;
    float: right;
}
