{% extends 'wrappers-open' %}

{% block after_header %}
<header id="pageheader">
    <div class="full">

            <h1 id="pagetitle">Digital Storytelling: Building Bridges</h1>
              <div class="region region-header">
    <section id="block-iobyproject-ioby-project-share" class="block block-iobyproject">

        <h2>Share This Project</h2>

  <div class="content">
    <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_facebook addthis_button_preferred_1 at300b" title="Facebook" href="#"><span class="at-icon-wrapper" style="background-color: rgb(59, 89, 152); line-height: 16px; height: 16px; width: 16px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-2" title="Facebook" alt="Facebook" style="width: 16px; height: 16px;" class="at-icon at-icon-facebook"><title id="at-svg-facebook-2">Facebook</title><g><path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path></g></svg></span></a>
  <a class="addthis_button_twitter addthis_button_preferred_2 at300b" title="Twitter" href="#"><span class="at-icon-wrapper" style="background-color: rgb(29, 161, 242); line-height: 16px; height: 16px; width: 16px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-3" title="Twitter" alt="Twitter" style="width: 16px; height: 16px;" class="at-icon at-icon-twitter"><title id="at-svg-twitter-3">Twitter</title><g><path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path></g></svg></span></a>
  <a class="addthis_button_print addthis_button_preferred_3 at300b" title="Print" href="#"><span class="at-icon-wrapper" style="background-color: rgb(115, 138, 141); line-height: 16px; height: 16px; width: 16px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-print-4" title="Print" alt="Print" style="width: 16px; height: 16px;" class="at-icon at-icon-print"><title id="at-svg-print-4">Print</title><g><path d="M24.67 10.62h-2.86V7.49H10.82v3.12H7.95c-.5 0-.9.4-.9.9v7.66h3.77v1.31L15 24.66h6.81v-5.44h3.77v-7.7c-.01-.5-.41-.9-.91-.9zM11.88 8.56h8.86v2.06h-8.86V8.56zm10.98 9.18h-1.05v-2.1h-1.06v7.96H16.4c-1.58 0-.82-3.74-.82-3.74s-3.65.89-3.69-.78v-3.43h-1.06v2.06H9.77v-3.58h13.09v3.61zm.75-4.91c-.4 0-.72-.32-.72-.72s.32-.72.72-.72c.4 0 .72.32.72.72s-.32.72-.72.72zm-4.12 2.96h-6.1v1.06h6.1v-1.06zm-6.11 3.15h6.1v-1.06h-6.1v1.06z"></path></g></svg></span></a>
  <a href="//www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4d9e08d95bbbe91b" class="addthis_button_compact at300m"><span class="at-icon-wrapper" style="background-color: rgb(255, 101, 80); line-height: 16px; height: 16px; width: 16px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-1" title="More" alt="More" style="width: 16px; height: 16px;" class="at-icon at-icon-addthis"><title id="at-svg-addthis-1">AddThis</title><g><path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path></g></svg></span></a>
  <div class="atclear"></div></div>
  <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ioby"></script>
  <!-- AddThis Button END -->  </div> <!-- /.content -->

</section> <!-- /.block -->
<section id="block-iobyproject-ioby-project-status" class="block block-iobyproject">

        <h2>Status:</h2>

  <div class="content">
    <span class="field field-name-field-project-status field-type-list-text field-label-hidden">Open</span>, Accepting Volunteers  </div> <!-- /.content -->

</section> <!-- /.block -->
  </div>

      <p></p><p>In the Northview Heights public housing community in Pittsburgh, PA, African American and African teens create personal digtial stories which empower, teach and build empathy and bonds of friendship.&nbsp;</p>
<p></p>          </div>
  </header>
  <div class="sponsor-ribbon" style="display: block;">
      <div class="full">

              <a class="sponsor-info" href="/northside">
                                <div class="sponsor-body">
                <p>Your donation is doubled by the ioby One Northside Crowdfunding Challenge, matching up to $10,000 in this campaign! </p>
                <br>
                <button>About this match program</button>
                </div>
              </a>

                        </div>
    </div>
{% endblock %}

{% block main %}
<div id="content" class="column" role="main">


              <div class="tabs"></div>
                          <div class="region region-content">
    <div id="block-system-main" class="block block-system">


  <div class="content">


  <article id="node-56669" class="node node-project-2 node-promoted clearfix">

  <header>


      </header>

  <nav>
    <ul class="tabs project-tabs clearfix">
      <li class="active"><a href="#overview">Overview</a></li>
      <li><a href="#budget">Budget</a></li>
      <li><a href="#updates">Updates</a></li>
      <!-- li><a href="#media">Photos</a></li -->
      <li><a href="#contributors">Donors</a></li>
            <li class="last"><a href="#nearby">Nearby Projects</a></li>
    </ul>
  </nav>

  <div class="content">

  <div class="pane" id="overview">

    <div class="clearfix intro">
      <div class="photo"></div>
      <div class="project-gallery">
    <ul class="project-gallery__list">
          <li><a href="https://www.ioby.org/files/styles/gallery_large/public/Sally%201.jpg?itok=MoSeLQXp" class="project-gallery__link mfp-image" title="" data-description=""><img src="https://www.ioby.org/files/styles/gallery_feature/public/Sally%201.jpg?itok=ZJyVmnVZ" alt=""></a></li>
      </ul>
  </div>
      <dl class="specs">
        <dt>project leader</dt>
        <dd><span class="username">Sally R</span></dd>
        <dt>location</dt>
        <dd>
          <div class="field field-name-field-project-address field-type-location field-label-hidden"><span class="street-only">City of Asylum/Alphabet City </span></div><span class="field field-name-field-project-neighborhood field-type-text field-label-hidden"> (Northview Heights, Pittsburgh PA)</span>        </dd>
        <dt>latest update <a href="/project/56669/updates/feed" class="icon-small rss">rss</a></dt>
        <dd><div class="view view-project-updates view-id-project_updates view-display-id-ctools_context_1 view-dom-id-82c968b7e847556453a4cf2b33bc3a6e">



      <div class="view-empty">
      No updates yet.    </div>






</div>        </dd>
      </dl>
    </div>


    <h2>the project</h2>
      <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p dir="ltr">The Northview Heights public housing community in Pittsburgh PA has become home to hundreds of African refugees in the past decade. &nbsp;Now almost half of the population, tension between newcomers and long term residents has grown. &nbsp;Groups live in separate pockets with little positive interaction because of fear and misunderstanding.&nbsp;Digital Storytelling: Building Bridges is a series of 4 workshops aims to build a vibrant community through the empowerment of refugees and long-term residents by giving an opportunity to share their experiences.</p>
<p dir="ltr">Focusing on teens from the many cultural groups living in Northview Heights, refugees from The Congo, Somalia, and Burundi, and African Americans, will have positive interactions with each other as each highlights important cultural traditions and histories through their stories. Through 4 facilitated collaborative workshops, on consecutive Saturdays from 9:00 - 4:00, participants will learn digital storytelling strategies, audiorecording and video editing to&nbsp;create short videos detailing their own challenges and aspirations and ultimately reflect the experiences of young lives in transition. &nbsp;Team building exercises and collaborative brainstorming will aid to create bonds of common understanding and experience and mutual empathy. The final workshop will be a chance to view everyone's video and plan showing the videos to community members.</p>
<p dir="ltr"><strong>These videos will then be used to spark community discussions about tolerance and empathy, enabling the wider Pittsburgh community to learn from these complex relationships.&nbsp;</strong>This will happen in community events, the first of which will be held at City of Asylum, and others in spaces such as libraries, churches, and schools to highlight the cultures and social realities of the people creating them.&nbsp;</p>
<p dir="ltr">This project empowers marginalized communities by offering a chance to speak with their own voices, choose the story they want to tell, and learn multimedia storytelling techniques WHILE sharing the full experience of doing so with their neighbors. This engages, build empathys and create community among neighbors. Our hope is that this first teen cohort will go on to facilitate future Sharing Our Story workshops where they will assist other teens, adults and seniors, and create a platform to amplify their stories.&nbsp;</p>
</div></div></div>

    <h2>the steps</h2>
      <div class="field field-name-field-project-desc field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><ul><li>
		Work with community stakeholders to recruit teens and advise on project plans.</li>
<li>
		Finalize the recruitment of and registration of participants</li>
<li>
		Hold a training workshop for writing and technology volunteers</li>
<li>
		Hold workshops</li>
<li>
		Plan for the first public discussion, which will be held at City of Asylum: create marketing materials and involve community leaders to invite their communities</li>
<li>
		Hold the first public discussion, with a panel of workshop participants to speak</li>
<li>
		Discuss with workshop participants a strategy for helping others in Northview Heights to create their digital stories with the teens as support.&nbsp;</li>
</ul></div></div></div>
    <h2>why we're doing it</h2>
      <div class="field field-name-field-project-issue field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p dir="ltr">Stakeholders involved in Northview Heights, have recognized this disturbing separation between communities and feel efforts at bridging the cultural divide have been unsuccessful. This stress impacts academic and social experiences, and resonates with community leaders from the Somali Bantu Community, the Burundian Community, YouthPlaces, and the president of the local tenants council, as well as refugee service groups, including Northern Area Multi-Service Center, Jewish Family and Community Services, and the Allegheny Center Alliance Church.</p>
<p dir="ltr">Understanding the realities of each other’s lives can form the basis of friendship. For youth, this is vital to their growing ability to live productive lives in a complex multicultural society. Art enables people to think more deeply about the experiences of others in a less threatening way. The experiences of creating these stories is empowering for the author, but also for the community they represent, especially when they are marginalized. These stories focus on the often unacknowledged truths about teens struggling in these situations.</p>
<p>This project is based on Sharing Our Story’s 2017 successful project,&nbsp;Immigration Journeys: Old and New, which connected residents in South Hills communities. The videos and images from the workshops and public discussions are documented here:&nbsp;<a href="http://www.sharingourstory.com">www.sharingourstory.com</a></p>
</div></div></div>
          </div>

  <div class="pane" id="budget">
    <h2>budget</h2>
    <div class="field field-name-field-project-budget field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px;"><span style="background-color: rgb(255, 255, 255); font-family: arial, sans-serif; font-size: 12.8px;">Stipends for teens and instructors, and cost of technology, transportation and meals</span>:&nbsp; $7,670<br>
	&nbsp;</p>
<br><br><table border="0" cellpadding="0" cellspacing="0" style="width:426px;" width="319"><colgroup><col></colgroup><colgroup><col></colgroup><tbody><tr height="15"><td height="15" style="height:20px;width:320px;">
				Project Subtotal =&nbsp;</td>
<td align="right" style="width:106px;">
				$7,670</td>
</tr><tr height="15"><td height="15" style="height:20px;width:320px;">
				ioby Platform Fee&nbsp;</td>
<td align="right" style="width:106px;">
				$35</td>
</tr><tr height="15"><td height="15" style="height:20px;width:320px;">
				ioby Donation Processing Fee (3%)</td>
<td align="right" style="width:106px;">
				$230</td>
</tr><tr height="15"><td height="15" style="height:20px;width:320px;">
				Total to raise on ioby =</td>
<td align="right" style="width:106px;">
				$7,935</td>
</tr></tbody></table><p>&nbsp;</p>
</div></div></div>  </div>

  <div class="pane" id="updates">
    <h2>updates</h2>
        <div class="view view-project-updates view-id-project_updates view-display-id-page view-dom-id-6f5e6fd2dfd90f542e59690965c16e49">



      <div class="view-empty">
      <p>Sorry, but this project doesn't have any updates yet.</p>
    </div>






</div>  </div>

  <div class="pane" id="media">
    <h2>photos</h2>
    This is where photos will go once we build flickr integration
  </div>

  <div class="pane" id="contributors">
    <h2>donors</h2>
    <div class="view view-project-donors view-id-project_donors view-display-id-block_1 view-dom-id-0a8b29a9e918b2c37d20c1f7bebb7827">



      <div class="view-content">
      <div class="donor-list">    <ul>          <li class="views-row views-row-1 views-row-odd views-row-first">
  <div class="views-field views-field-nothing">        <span class="field-content">Anonymous</span>  </div></li>
          <li class="views-row views-row-2 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Anonymous</span>  </div></li>
          <li class="views-row views-row-3 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Dominic Fratangelo</span>  </div></li>
          <li class="views-row views-row-4 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Anonymous</span>  </div></li>
          <li class="views-row views-row-5 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Yuto Iwaizumi</span>  </div></li>
          <li class="views-row views-row-6 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Brianna Crawford</span>  </div></li>
          <li class="views-row views-row-7 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Tyler Lamoreaux</span>  </div></li>
          <li class="views-row views-row-8 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Kelly Yagatich</span>  </div></li>
          <li class="views-row views-row-9 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Brittany Arent</span>  </div></li>
          <li class="views-row views-row-10 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Joshua Hanley</span>  </div></li>
          <li class="views-row views-row-11 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Jared Gustafson</span>  </div></li>
          <li class="views-row views-row-12 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Edris Stewart</span>  </div></li>
          <li class="views-row views-row-13 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Ngani Ndimbie</span>  </div></li>
          <li class="views-row views-row-14 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Sasha Connors</span>  </div></li>
          <li class="views-row views-row-15 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Cynthia Plouche and Joe Rafson</span>  </div></li>
          <li class="views-row views-row-16 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Gretchen and Jack Bingham</span>  </div></li>
          <li class="views-row views-row-17 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Cathy Sigmund</span>  </div></li>
          <li class="views-row views-row-18 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Anonymous</span>  </div></li>
          <li class="views-row views-row-19 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Nina Garfield</span>  </div></li>
          <li class="views-row views-row-20 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Katie Greeno</span>  </div></li>
          <li class="views-row views-row-21 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Tim Smith, Center of Life</span>  </div></li>
          <li class="views-row views-row-22 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Gail Smith</span>  </div></li>
          <li class="views-row views-row-23 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Charmaine W.</span>  </div></li>
          <li class="views-row views-row-24 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Dwight Wilkerson</span>  </div></li>
          <li class="views-row views-row-25 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Oscar West</span>  </div></li>
          <li class="views-row views-row-26 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Etta Wilkerson</span>  </div></li>
          <li class="views-row views-row-27 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">James Williams</span>  </div></li>
          <li class="views-row views-row-28 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Cynthia Jones</span>  </div></li>
          <li class="views-row views-row-29 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Andre Jones</span>  </div></li>
          <li class="views-row views-row-30 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Denise Jones</span>  </div></li>
          <li class="views-row views-row-31 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Oscar Smith</span>  </div></li>
          <li class="views-row views-row-32 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Tamara Smith</span>  </div></li>
          <li class="views-row views-row-33 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Trina Strong</span>  </div></li>
          <li class="views-row views-row-34 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Alberta Pugh</span>  </div></li>
          <li class="views-row views-row-35 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">John Williams</span>  </div></li>
          <li class="views-row views-row-36 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Jacqulyn Williams</span>  </div></li>
          <li class="views-row views-row-37 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">William Mitchell</span>  </div></li>
          <li class="views-row views-row-38 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Beverly Hall Hardrick</span>  </div></li>
          <li class="views-row views-row-39 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Dale Townes. Sr.</span>  </div></li>
          <li class="views-row views-row-40 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Cris Law</span>  </div></li>
          <li class="views-row views-row-41 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Terry Green</span>  </div></li>
          <li class="views-row views-row-42 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Lidia Harris</span>  </div></li>
          <li class="views-row views-row-43 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Ilene Brown</span>  </div></li>
          <li class="views-row views-row-44 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Stephanie Drayton</span>  </div></li>
          <li class="views-row views-row-45 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Leslie Brown</span>  </div></li>
          <li class="views-row views-row-46 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Valerie Lauw</span>  </div></li>
          <li class="views-row views-row-47 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Brian Heagy</span>  </div></li>
          <li class="views-row views-row-48 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Charlene M.</span>  </div></li>
          <li class="views-row views-row-49 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Hussein Kulow</span>  </div></li>
          <li class="views-row views-row-50 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Lillian Rafson</span>  </div></li>
          <li class="views-row views-row-51 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Hadija Sabimbona</span>  </div></li>
          <li class="views-row views-row-52 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Burundian Association of Pittsburgh</span>  </div></li>
          <li class="views-row views-row-53 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Ismael Nduwimana</span>  </div></li>
          <li class="views-row views-row-54 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Patricia Briggs</span>  </div></li>
          <li class="views-row views-row-55 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Luley Haji</span>  </div></li>
          <li class="views-row views-row-56 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Siraji Hassan</span>  </div></li>
          <li class="views-row views-row-57 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Barbara</span>  </div></li>
          <li class="views-row views-row-58 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Anonymous</span>  </div></li>
          <li class="views-row views-row-59 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Helen O.</span>  </div></li>
          <li class="views-row views-row-60 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Khara Timsina</span>  </div></li>
          <li class="views-row views-row-61 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Anonymous</span>  </div></li>
          <li class="views-row views-row-62 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Ashok Gurung</span>  </div></li>
          <li class="views-row views-row-63 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Danielle Sambrick</span>  </div></li>
          <li class="views-row views-row-64 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Kara Sambrick</span>  </div></li>
          <li class="views-row views-row-65 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">John Oestreich</span>  </div></li>
          <li class="views-row views-row-66 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">DARRELLE GOODVINE</span>  </div></li>
          <li class="views-row views-row-67 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Courtney Lefebvre</span>  </div></li>
          <li class="views-row views-row-68 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Rup P.</span>  </div></li>
          <li class="views-row views-row-69 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Benedict K.</span>  </div></li>
          <li class="views-row views-row-70 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Anonymous</span>  </div></li>
          <li class="views-row views-row-71 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Hannah Lewis</span>  </div></li>
          <li class="views-row views-row-72 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">David Garfield Esq. </span>  </div></li>
          <li class="views-row views-row-73 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Faustino T Dunckhorst</span>  </div></li>
          <li class="views-row views-row-74 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Henry Reese</span>  </div></li>
          <li class="views-row views-row-75 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Anonymous</span>  </div></li>
          <li class="views-row views-row-76 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Jun Yu</span>  </div></li>
          <li class="views-row views-row-77 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Learita G. Scott</span>  </div></li>
          <li class="views-row views-row-78 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">E Shifrin</span>  </div></li>
          <li class="views-row views-row-79 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Anonymous</span>  </div></li>
          <li class="views-row views-row-80 views-row-even">
  <div class="views-field views-field-nothing">        <span class="field-content">Lindsey</span>  </div></li>
          <li class="views-row views-row-81 views-row-odd">
  <div class="views-field views-field-nothing">        <span class="field-content">Laurie S Anderson</span>  </div></li>
          <li class="views-row views-row-82 views-row-even views-row-last">
  <div class="views-field views-field-nothing">        <span class="field-content">Sally Rafson</span>  </div></li>
      </ul></div>    </div>






</div>
  </div>


  <div class="pane" id="nearby">
    <h2>nearby projects</h2>
    <div class="view view-micro-projects view-id-micro_projects view-display-id-block view-dom-id-69705ba8d858b12ead25b2e3b42e067a">



      <div class="view-content">
        <article class="views-row views-row-1 views-row-odd views-row-first">
    <article id="node-62913" class="<!--
    $funding is a variable which contains all values coming from the module.
    $donate_form is a variable which contains the donate form.
  -->

   project-microview node node-project-2 node-teaser clearfix">
  <div class="main-info" style="">
    <div class="project-photo"><a href="/project/angels-garden"><img src="https://www.ioby.org/files/styles/thumbnail/public/Screen%20Shot%202018-12-17%20at%209.06.20%20AM.png?itok=xa9UxRPc" width="50" height="32" alt=""></a></div>
    <h3 style="margin-top: 43px;"><a href="/project/angels-garden">Angels in the Garden</a></h3>
    <div class="project-meter">
            <div class="progress-bar" style="height:0%"></div>
    </div>
  </div>
</article>
  </article>
  <article class="views-row views-row-2 views-row-even">
    <article id="node-62180" class="<!--
    $funding is a variable which contains all values coming from the module.
    $donate_form is a variable which contains the donate form.
  -->

   project-microview node node-project-2 node-teaser clearfix">
  <div class="main-info" style="">
    <div class="project-photo"><a href="/project/trash-thrash-north-side"><img src="https://www.ioby.org/files/styles/thumbnail/public/Trash%20to%20Thrash%201.jpg?itok=OjN4m5oG" width="50" height="32" alt=""></a></div>
    <h3 style="margin-top: 43px;"><a href="/project/trash-thrash-north-side">Trash to Thrash North Side</a></h3>
    <div class="project-meter">
            <div class="progress-bar" style="height:25%"></div>
    </div>
  </div>
</article>
  </article>
  <article class="views-row views-row-3 views-row-odd">
    <article id="node-62179" class="<!--
    $funding is a variable which contains all values coming from the module.
    $donate_form is a variable which contains the donate form.
  -->

   project-microview node node-project-2 node-teaser clearfix">
  <div class="main-info" style="">
    <div class="project-photo"><a href="/project/north-side-youth-mountain-bike-club"><img src="https://www.ioby.org/files/styles/thumbnail/public/Bike%20Club%20Photo%20for%20IOBY.jpg?itok=SoGuNeye" width="50" height="32" alt=""></a></div>
    <h3 style="margin-top: 43px;"><a href="/project/north-side-youth-mountain-bike-club">North Side Youth Mountain Bike Club</a></h3>
    <div class="project-meter">
            <div class="progress-bar" style="height:59%"></div>
    </div>
  </div>
</article>
  </article>
  <article class="views-row views-row-4 views-row-even">
    <article id="node-61751" class="<!--
    $funding is a variable which contains all values coming from the module.
    $donate_form is a variable which contains the donate form.
  -->

   project-microview node node-project-2 node-teaser clearfix">
  <div class="main-info" style="">
    <div class="project-photo"><a href="/project/bethany-house-academy-soaring-new-heights"><img src="https://www.ioby.org/files/styles/thumbnail/public/BHA%20Photo%20%28child%20%232%29.jpg?itok=W-6GpTC7" width="50" height="32" alt=""></a></div>
    <h3 style="margin-top: 43px;"><a href="/project/bethany-house-academy-soaring-new-heights">Bethany House Academy - Soaring to New Heights</a></h3>
    <div class="project-meter">
            <div class="progress-bar" style="height:12%"></div>
    </div>
  </div>
</article>
  </article>
  <article class="views-row views-row-5 views-row-odd">
    <article id="node-61436" class="<!--
    $funding is a variable which contains all values coming from the module.
    $donate_form is a variable which contains the donate form.
  -->

   project-microview node node-project-2 node-teaser clearfix">
  <div class="main-info" style="">
    <div class="project-photo"><a href="/project/spring-garden-beautification-and-signage"><img src="https://www.ioby.org/files/styles/thumbnail/public/Screen%20Shot%202018-11-26%20at%2010.26.18%20AM.png?itok=WEPqs0jc" width="50" height="32" alt=""></a></div>
    <h3 style="margin-top: 43px;"><a href="/project/spring-garden-beautification-and-signage">Spring Garden Beautification and Signage </a></h3>
    <div class="project-meter">
            <div class="progress-bar" style="height:2%"></div>
    </div>
  </div>
</article>
  </article>
  <article class="views-row views-row-6 views-row-even">
    <article id="node-61229" class="<!--
    $funding is a variable which contains all values coming from the module.
    $donate_form is a variable which contains the donate form.
  -->

   project-microview node node-project-2 node-teaser clearfix">
  <div class="main-info" style="">
    <div class="project-photo"><a href="/project/pittsburgh-ultimate"><img src="https://www.ioby.org/files/styles/thumbnail/public/IMG_4126.PNG?itok=_ethxnfv" width="50" height="32" alt="Ultimate gave me the courage to just keep trying"></a></div>
    <h3 style="margin-top: 43px;"><a href="/project/pittsburgh-ultimate">Pittsburgh Ultimate </a></h3>
    <div class="project-meter">
            <div class="progress-bar" style="height:27%"></div>
    </div>
  </div>
</article>
  </article>
  <article class="views-row views-row-7 views-row-odd">
    <article id="node-61030" class="funded-project project-microview node node-project-2 node-teaser clearfix">
  <div class="main-info" style="">
    <div class="project-photo"><a href="/project/brookline-teen-outreach-doors-future"><img src="https://www.ioby.org/files/styles/thumbnail/public/Screen%20Shot%202018-11-16%20at%204.26.36%20PM.png?itok=zKNJdrvb" width="50" height="32" alt=""></a></div>
    <h3 style="margin-top: 43px;"><a href="/project/brookline-teen-outreach-doors-future">Brookline Teen Outreach - Doors to the Future!</a></h3>
    <div class="project-meter">
            <div class="progress-bar" style="height:100%"></div>
    </div>
  </div>
</article>
  </article>
  <article class="views-row views-row-8 views-row-even views-row-last">
    <article id="node-60761" class="<!--
    $funding is a variable which contains all values coming from the module.
    $donate_form is a variable which contains the donate form.
  -->

   project-microview node node-project-2 node-teaser clearfix">
  <div class="main-info" style="">
    <div class="project-photo"><a href="/project/horses-hope"><img src="https://www.ioby.org/files/styles/thumbnail/public/20181030_173937.jpg?itok=sPe6Ieba" width="50" height="32" alt=""></a></div>
    <h3 style="margin-top: 43px;"><a href="/project/horses-hope">Horses with Hope</a></h3>
    <div class="project-meter">
            <div class="progress-bar" style="height:67%"></div>
    </div>
  </div>
</article>
  </article>

    </div>






</div>  </div>

  </div> <!-- /.content -->

  <footer>
          </footer>


</article> <!-- /.node -->

  </div> <!-- /.content -->

</div> <!-- /.block -->
  </div>
          </div>
          <div id="rail" class="column">
        <div class="region region-sidebar">
    <section id="block-iobyproject-project-countdown" class="block block-iobyproject">

        <h2>Project Deadline Countdown</h2>

  <div class="content">
    <div class="project--countdown-widget">

  <div class="countdown-widget__header">
    Project Deadline: <br>
    <span>December 31, 2018</span>
  </div>

            <div class="countdown-widget__counter">
        <div class="countdown-widget__daysleft">
          11        </div>
        <div class="countdown-widget__text">
          Days Left        </div>
      </div>
      </div>
  </div> <!-- /.content -->

</section> <!-- /.block -->
<div id="block-iobyproject-ioby-project-funding" class="block block-iobyproject">


  <div class="content">
    <!--
    $funding is a variable which contains all values coming from the module.
    $donate_form is a variable which contains the donate form.
  -->

    <div class="funding-view">
    <div id="total_funding_needed">Total Funding Needed: <span>$7,935</span></div>
    <div id="general_info">
      <div class="bar">
        <div class="inner-bar" style="width: 61.00%">&nbsp;</div>
      </div>
        <div class="amounts clearfix">
          <div class="money needed">
              <span class="big">$3,025</span>
              <span class="small">still needed</span>
          </div>
          <div class="money raised">
              <span class="big">$4,910</span>
              <span class="small">raised so far</span>
          </div>
        </div>
    </div>
    <div id="donate">
      <form action="/project/digital-storytelling-building-bridges" method="post" id="iobyproject-donation-form" accept-charset="UTF-8"><div><input type="hidden" name="project_id" value="56669">
<div class="form-item form-type-textfield form-item-donation">
 <span class="field-prefix">$</span> <input type="text" id="edit-donation" name="donation" value="" size="10" maxlength="128" class="form-text">
</div>
<input class="button form-submit" type="submit" id="edit-submit--3" name="op" value="Donate to this project"><input type="hidden" name="form_build_id" value="form-DeEdCIF_ZhYRjBDvi3hd0roSMDKAhysR4bF_4WLq_dM">
<input type="hidden" name="form_id" value="iobyproject_donation_form">
</div></form>    </div>

    <!-- Will be implemented... later
    <div id="stats">
        <ul class="donation_list">
                        <li><span class="number">8</span> people donated $5 or more</li>
                        <li><span class="number">19</span> people donated $20 or more</li>
                        <li><span class="number">4</span> people donated $50 or more</li>
                        <li><span class="number">3</span> people donated $100 or more</li>
                    </ul>
                <div class="message"><a href="/page/donate-offline?width=500&height=500&iframe=true&ajax=1" class="colorbox-load">prefer to give by mail or phone?</a></div>
            </div>
   -->
</div>
  </div> <!-- /.content -->

</div> <!-- /.block -->
<section id="block-iobyproject-project-incentives" class="block block-iobyproject">

        <h2>Incentives</h2>

  <div class="content">
      <div class="project-incentives">
          <div class="project-incentives-row">
        <div class="project-incentive__level">$15</div>
        <div class="project-incentive__description"> Participant transportation</div>
      </div>
          <div class="project-incentives-row">
        <div class="project-incentive__level">$25</div>
        <div class="project-incentive__description"> Workshop meals</div>
      </div>
          <div class="project-incentives-row">
        <div class="project-incentive__level">$35</div>
        <div class="project-incentive__description">Workshop supplies and space</div>
      </div>
          <div class="project-incentives-row">
        <div class="project-incentive__level">$50</div>
        <div class="project-incentive__description">Technology costs</div>
      </div>
          <div class="project-incentives-row">
        <div class="project-incentive__level">$100</div>
        <div class="project-incentive__description">Stipends to Youth and Instructors</div>
      </div>
      </div>
  </div> <!-- /.content -->

</section> <!-- /.block -->
<section id="block-iobyproject-ioby-project-volunteer" class="block block-iobyproject">

        <h2>Volunteers Needed!</h2>

  <div class="content">
    <p>This project's leader is looking for volunteers to help out:</p><blockquote><p>Volunteers can help the workshop participants craft their stories, find appropriate images and use the software to create their stories.&nbsp;</p>
</blockquote><div class="alignright"><a class="colorbox-load link-action init-colorbox-load-processed cboxElement" href="/volunteerform/56669?width=500&amp;height=500&amp;iframe=true&amp;ajax=1" id="volunteer">Inquire about volunteering<i></i></a></div>  </div> <!-- /.content -->

</section> <!-- /.block -->
  </div>
    </div>
{% endblock %}
