# Ignore paths that contain generated content.
/cache/
/files/
/privatefiles/
/sites/*/files
/sites/*/private
/sites/*/privatefiles

# Ignore dev settings paths and files
/sites/*.newsig.com
/sites/localhost
/sites/dev
/sites/demo
salesforce-settings.inc

# Plesk/Media Temple stuff
/private
/plesk-stat

# Ignore default text files
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
/sites/all/README.txt
/sites/all/modules/README.txt
/sites/all/themes/README.txt
[Ww]eb.config

#IDE project/settings folders
.idea/
nbproject/
/.buildpath
/.project
/.settings

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
*.DS_Store
*._*

# Ioby Blog (under separate source control)
/blog/

#Other stuff to ignore
*.bak
*.BAK
.sass-cache/
*.sdf
compass_app_log.txt
drushrc.php
*.orig
*.rej
.svn/
/*.sql
