@charset "utf-8";
//
// @font-face {
//     font-family: 'Lato';
//     src: url('../fonts/Lato-BlackItalic-webfont.eot');
//     src: url('../fonts/Lato-BlackItalic-webfont.eot?iefix') format('eot'),
//          url('../fonts/Lato-BlackItalic-webfont.woff') format('woff'),
//          url('../fonts/Lato-BlackItalic-webfont.ttf') format('truetype'),
//          url('../fonts/Lato-BlackItalic-webfont.svg#webfontrnJeSSUP') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'Lato';
//     src: url('../fonts/Lato-Black-webfont.eot');
//     src: url('../fonts/Lato-Black-webfont.eot?iefix') format('eot'),
//          url('../fonts/Lato-Black-webfont.woff') format('woff'),
//          url('../fonts/Lato-Black-webfont.ttf') format('truetype'),
//          url('../fonts/Lato-Black-webfont.svg#webfontx1AeDq9C') format('svg');
//     font-weight: bolder;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'Lato';
//     src: url('../fonts/Lato-BoldItalic-webfont.eot');
//     src: url('../fonts/Lato-BoldItalic-webfont.eot?iefix') format('eot'),
//          url('../fonts/Lato-BoldItalic-webfont.woff') format('woff'),
//          url('../fonts/Lato-BoldItalic-webfont.ttf') format('truetype'),
//          url('../fonts/Lato-BoldItalic-webfont.svg#webfontFaSudPkB') format('svg');
//     font-weight: bold;
//     font-style: italic;
//
// }
//
// @font-face {
//     font-family: 'Lato';
//     src: url('../fonts/Lato-Bold-webfont.eot');
//     src: url('../fonts/Lato-Bold-webfont.eot?iefix') format('eot'),
//          url('../fonts/Lato-Bold-webfont.woff') format('woff'),
//          url('../fonts/Lato-Bold-webfont.ttf') format('truetype'),
//          url('../fonts/Lato-Bold-webfont.svg#webfontWChoG53K') format('svg');
//     font-weight: bold;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'Lato';
//     src: url('../fonts/Lato-Italic-webfont.eot');
//     src: url('../fonts/Lato-Italic-webfont.eot?iefix') format('eot'),
//          url('../fonts/Lato-Italic-webfont.woff') format('woff'),
//          url('../fonts/Lato-Italic-webfont.ttf') format('truetype'),
//          url('../fonts/Lato-Italic-webfont.svg#webfontK66ymxTv') format('svg');
//     font-weight: normal;
//     font-style: italic;
//
// }
//
// @font-face {
//     font-family: 'Lato';
//     src: url('../fonts/Lato-Regular-webfont.eot');
//     src: url('../fonts/Lato-Regular-webfont.eot?iefix') format('eot'),
//          url('../fonts/Lato-Regular-webfont.woff') format('woff'),
//          url('../fonts/Lato-Regular-webfont.ttf') format('truetype'),
//          url('../fonts/Lato-Regular-webfont.svg#webfontwlOsaZaJ') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
//
// @font-face {
//     font-family: 'Lato';
//     src: url('../fonts/Lato-LightItalic-webfont.eot');
//     src: url('../fonts/Lato-LightItalic-webfont.eot?iefix') format('eot'),
//          url('../fonts/Lato-LightItalic-webfont.woff') format('woff'),
//          url('../fonts/Lato-LightItalic-webfont.ttf') format('truetype'),
//          url('../fonts/Lato-LightItalic-webfont.svg#webfont9EREcdyY') format('svg');
//     font-weight: lighter;
//     font-style: italic;
//
// }

/*
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light-webfont.eot');
    src: url('../fonts/Lato-Light-webfont.eot?iefix') format('eot'),
         url('../fonts/Lato-Light-webfont.woff') format('woff'),
         url('../fonts/Lato-Light-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Light-webfont.svg#webfontbUmjvwph') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'LatoHairlineItalic';
    src: url('../fonts/Lato-HairlineItalic-webfont.eot');
    src: url('../fonts/Lato-HairlineItalic-webfont.eot?iefix') format('eot'),
         url('../fonts/Lato-HairlineItalic-webfont.woff') format('woff'),
         url('../fonts/Lato-HairlineItalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato-HairlineItalic-webfont.svg#webfontggOmHsEi') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/Lato-Hairline-webfont.eot');
    src: url('../fonts/Lato-Hairline-webfont.eot?iefix') format('eot'),
         url('../fonts/Lato-Hairline-webfont.woff') format('woff'),
         url('../fonts/Lato-Hairline-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Hairline-webfont.svg#webfontNPUciU5G') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

@font-face {
    font-family: 'Kreon';
    src: url('../fonts/kreon-bold-webfont.eot');
    src: url('../fonts/kreon-bold-webfont.eot?iefix') format('eot'),
         url('../fonts/kreon-bold-webfont.woff') format('woff'),
         url('../fonts/kreon-bold-webfont.ttf') format('truetype'),
         url('../fonts/kreon-bold-webfont.svg#webfont24ISBa2g') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Kreon';
    src: url('../fonts/kreon-light-webfont.eot');
    src: url('../fonts/kreon-light-webfont.eot?iefix') format('eot'),
         url('../fonts/kreon-light-webfont.woff') format('woff'),
         url('../fonts/kreon-light-webfont.ttf') format('truetype'),
         url('../fonts/kreon-light-webfont.svg#webfontTbkI3BL4') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kreon';
    src: url('../fonts/kreon-regular-webfont.eot');
    src: url('../fonts/kreon-regular-webfont.eot?iefix') format('eot'),
         url('../fonts/kreon-regular-webfont.woff') format('woff'),
         url('../fonts/kreon-regular-webfont.ttf') format('truetype'),
         url('../fonts/kreon-regular-webfont.svg#webfontYFTmEdYk') format('svg');
    font-weight: bold;
    font-style: normal;
}
