@charset "utf-8";

#modalBackdrop{
  @media (max-width: $small-break) {
    width: 100% !important;
  }
}

@media (max-width: $small-break) {

#modalContent{

    width: 300px !important;
    top: 64px !important;
    left: calc(50% - 160px) !important;
    right: auto;
    bottom: auto;
    overflow: hidden;
    margin: 0;
    padding: 12px;
    height: auto !important;

  .popups-close{
    position: relative;
    z-index:9999999999;
  }

  .ioby-modal-header h3{
    font-size: 16px;
    padding: 22px;
  }

  #modal-content{
    width: auto !important;
    padding-left: 22px !important;
    padding: 22px !important;

    iframe{
      width: 270px;
      display: block;
      float: none;
      margin-right: 20px;
    }

    label{
      padding-bottom: 6px;
    }

    input:not([type='radio']){
      margin-bottom: 12px !important;
    }

    input[type='radio']{
      margin-right: 6px;
    }

    .ioby-user-modal-tabs li{
      font-size: 16px;
      padding: 0 7px 5px;
    }

    label[for='edit-mail']{
      margin-top: 24px;
    }

    label[for='edit-field-first-name-und-0-value']{
      margin-top:12px;
    }

    .messages.error{
      margin: 8px auto;
    }

    .form-item-pass .right-wrapper{
      clear: left;
      padding-left: 0;
      margin-bottom: 12px;
    }

    .description{
      padding-bottom: 6px;
    }

    .left-wrapper,.right-wrapper{
      width: 100%;
    }

    .password-suggestions{
      padding: 0 !important;
    }

    .password-suggestions ul{
      margin-left: 17px !important;
    }
  }

  .password-indicator.indicator{
    margin: 0 !important;
  }

  .ctools-modal-content{
    height: auto !important;
    padding: 0 !important;
  }

  .g-recaptcha > div{
    width: auto !important;
    overflow: hidden;
  }

  #edit-submit--4,#modalContent input.form-submit[type=submit]{
    width: auto !important;
  }

  *{
    max-width: 290px !important;
    margin: 0 auto;
    //display: block;
    //padding-bottom: 12px;
  }

  .ioby-modal-header{
    //padding-bottom: 12px;
  }
}

}

@media (max-width: $small-break) {
  .mktoModal{
    #mktoForm_1018{
      max-width: 320px;
    }

    .mktoModalMain{
      width: auto !important;
    }

    .mktoModalContent{
      top: 80px !important;
      left:calc(50% - 175px) !important;
      width: 320px !important;
      padding: 20px !important;
    }

    .mktoModalClose{
      right: 20px !important;
      top: 20px !important;
    }

    legend{
      width: 100%;
    }

    .mktoButtonWrap.mktoSimple{
      display: block;
      margin: 0 auto;
      width: 140px;
    }
  }
}

#mc_embed_signup #mc-embedded-subscribe {
    font-family: Lato,Helvetica,Arial,sans-serif;
    display: block;
    float: left;
    border: 1px solid #fff;
    background-color: #e88020;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    padding: 1px 0 2px;
    text-align: center;
    width: 76px;
    height: 15px;
    line-height: 15px;
    font-weight: normal;
    cursor: pointer;
    margin: 1px 0 0 0;
    -moz-transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -khtml-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    vertical-align: middle;
}

#bottom ul li.newsletter {
    background: #ece6dc;
    width: 262px;
    padding: 6px 0 6px 10px;
    height: 22px;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
}

#mc_embed_signup {
    background: inherit;
    clear: none;
    font: inherit;
}

#mc_embed_signup form{
  padding: 0;
}

#mc_embed_signup input.required {
    margin: 0 5px 0 0;
    width: 55px;
    font-size: 12px;
    border: 1px solid #fff !important;
    line-height: 16px;
    padding: 2px 2px 0 3px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

#mc_embed_signup #mc-embedded-subscribe {
    font-family: Lato,Helvetica,Arial,sans-serif;
    display: block;
    float: right;
    border: 1px solid #fff;
    background-color: #e88020;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    padding: 1px 0 2px;
    text-align: center;
    width: 76px;
    height: 15px;
    line-height: 15px;
    font-weight: normal;
    cursor: pointer;
    margin: 1px 0 0 0;
    -moz-transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -khtml-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    vertical-align: middle;

    position: relative;
    bottom: 21px;
    right: 8px;
}

#mc_embed_signup .mc-field-group {
    clear: none;
    position: relative;
    width: auto;
    padding-bottom: 0;
    min-height: 0px;
}