@charset "utf-8";

#content, .region-content {

  p {
    margin:0.9em 0;
    font-size: 18px;
    line-height: calc(28/18);

    @media (max-width: $small-break)  {
      font-size: 16px;
    }
  }


  .content li {
    margin:0.9em 0;

    li {
      margin:0.6em 0;
    }
  }

  ul.inline li {
    display: inline-block;
    *zoom:1;
    font-size: 94%;
    margin-top: 0.2em !important;
  }

  article.node-project-2 #overview img, article.node-project-blog .content img {
    max-width: 560px;
  }

}

#rail {
  ul {
    margin-left: 1.8em;

    li {
      margin:0.8em;
    }
  }
}
