@charset "utf-8";

@import 'refresh-variables';

// Atomic Utility Classes.
.refresh-home .button {
  display: inline-block;
  color: $theWhite;
  text-align: center;
  @extend .fa;
  @extend .barlow;
  @extend .uc;
  letter-spacing: 0.125em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  background: $theGranite;
  background-color: $theGranite;
  padding: 16px 30px;
  margin-left: 0;
  margin-right: 0;
  @include fade;
}

.refresh-home main > section:not(.connect) input[type='submit']{
  @include fade;
}

// Atomic Color Classes.
.refresh-home .orange { background-color: $theOrange; }
.refresh-home .blue { background-color: $theBlue; }
.refresh-home .black { background-color: $theBlack; }
.refresh-home .granite { background-color: $theGranite; }
.refresh-home .green { background-color: $theGreen; }
.refresh-home .eggshell { background-color: $theEggshell; }
.refresh-home .white { background-color: $theWhite; }
.refresh-home .purple { background-color: $thePurple; }
.refresh-home .transparent { background-color: transparent; }

.refresh-home .c-orange { color: $theOrange; }
.refresh-home .c-blue { color: $theBlue; }
.refresh-home .c-black { color: $theBlack; }
.refresh-home .c-granite { color: $theGranite; }
.refresh-home .c-green { color: $theGreen; }
.refresh-home .c-eggshell { color: $theEggshell; }
.refresh-home .c-white { color: $theWhite; }
.refresh-home .c-purple { color: $thePurple; }
.refresh-home .c-transparent { color: transparent; }

.link-color-orange a,.link-color-orange span{
  color: $theOrange;
  transition: color .5s;
  &:hover{
    color: lighten($theOrange,25%);
    transition: color .5s;
  }
}
.link-color-blue a, .link-color-blue span{
  color: $theBlue;
  transition: color .5s;
  &:hover{
    transition: color .5s;
    color: lighten($theBlue,25%);
  }
}
.link-color-purple a, .link-color-purple span{
  color: $thePurple;
  transition: color .5s;
  &:hover{
    transition: color .5s;
    color: lighten($thePurple,25%);
  }
}

// Atomic Type Scale Classes.
.fa { font-size: $tsA; }
.fb { font-size: $tsB; }
.fc { font-size: $tsC; }
.fd { font-size: $tsD; }
.fe { font-size: $tsE; }
.ff { font-size: $tsF; }
.fg { font-size: $tsG; }
.fh { font-size: $tsH; }
.fi { font-size: $tsI; }
.fj { font-size: $tsJ; }

// Atomic Font Classes.
.lato{ font-family: $lato; font-weight: 400; line-height: 1.25; }
.barlow{ font-family: $barlow; font-weight: bold; line-height: 1.25em; }

.uc {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.inner-wrap{
  width: 1042px;
  margin: 0 auto;
}

.visually-hidden, .screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
