
.impact-list {

  &,* {
    box-sizing: border-box;
  }

  &__header {
    text-align: center;
  }

  &__title {
    font-family: $barlow;
    font-weight: 800;
    font-size: 30px;
    color: $theBlue;
    border: none;
    padding: 0;
    margin: 0;
    text-transform: none;
    line-height: 1.25;

    span,
    strong {
      display: block;
      font-size: 42px;
      position: relative;
      top: -2px;
    }
  }

  &__body {
    max-width: calc(983px + 80px);
    margin: 98px auto 0;

    @media (max-width: 650px) {
      margin-top: 50px;
    }
  }

  &__item {
    margin-bottom: 103px;

    @media (max-width: 650px) {
      margin-bottom: 40px;
    }

    &--green {
      max-width: 841px;
      position: relative;
      left: 40px;

      @media (max-width: 1140px) {
        left: 0;
      }
    }

    &--orange {
      margin-bottom: 120px;
      max-width: 880px;
      margin-left: auto;
      position: relative;
      right: 0;

      @media (max-width: 1140px) {
        right: 0;
      }

      @media (max-width: 650px) {
        margin-bottom: 40px;
      }

      .impact {
        padding-left: 0;
        padding-right: 253px;

        @media (max-width: 650px) {
          padding-right: 0;
        }
      }

      .impact__image {
        left: auto;
        right: 0;
        width: 333px;
        height: 315px;
      }
    }

    &--purple {
      max-width: 928px;
      position: relative;
      left: 16px;

      @media (max-width: 1140px) {
        left: 0;
      }

      .impact {
        padding-left: 336px;

        @media (max-width: 650px) {
          padding-left: 0;
        }
      }

      .impact__image {
        width: 380px;
        height: 315px;
        margin-top: -20px;

        @media (max-width: 650px) {
          margin-top: 0;
        }
      }
    }
  }

  &__footer {
    text-align: center;
    font-family: $barlow;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    margin: 120px 0 0;

    @media (max-width: 650px) {
      margin-top: 50px;
    }

    a {
      color: #000;

      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 16px;
        background: transparent url('../img/caret-blue-right.svg') no-repeat center center;
        background-size: 8px 16px;
        margin: 0 0 0 8px;
        position: relative;
        transition: transform .2s ease;
      }

      &:hover {
        text-decoration: underline;

        &:after {
          transform: translatex(6px);
        }
      }
    }
  }
}
