<section class="connect">
  <div class="connect__inner-wrap">
    <h3>Want ideas and inspiration for transforming your own community?<span>Connect with us.</span></h3>
    <div class="connect__block">
      <h4 class="uc">Join Our Newsletter</h4>
      <label class="visually-hidden" for="connect-email">Email address</label>
      <input type="email" name="email" id="connect-email" placeholder="Email Address"/>
      <input type="submit" value="Sign up"/>
    </div>
    <div class="connect__block">
      <h4 class="uc">Get Social</h4>
      <nav class="connect__social">
        <ul>
          <li><a href=".">{% include "atoms-twitter-logo" %}</a></li>
          <li><a href=".">{% include "atoms-facebook-logo" %}</a></li>
          <li><a href=".">{% include "atoms-instagram-logo" %}</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>