@import "../../scss/refresh-global";

.featured-cities{
  text-align: center;

  &:before{ //hr
    display: block;
    width: 1040px;
    margin: 0 auto;
    content: "";
    height: 2px;
    background-image: linear-gradient(-90deg, #3599CC 0%, #84BF41 100%);
    margin-bottom: 60px;
  }

  h2{
    @extend .ff;
    line-height: 36px;
    text-align: center;
    color: $theBlue;
    margin: 72px 0 42px;
    border-bottom: 0;
  
    svg{
      position: relative;
      top: 14px;
      right: 14px;
    }
  }

  ul{
    text-align: left;
    display: inline-block;
    width: 1040px;
    margin-bottom: 100px;

    .city{
      width: 241px;
      display: inline-block;
      background: $theBlue;
      margin-right: 16px;
      margin-bottom: 24px;

      a{
        color: $theWhite;
        @extend .fd;
        display: block;
        padding: 20px 22px;
      }

      &:hover{
        @include fade;
      }
    }
  }

}