<section class="happening">
  <header class="happening__header">
    <h2>Check out what's happening in our communities</h2>
  </header>
  {% if post.callouts %}
  <div class="happening__callouts">
  {% for callout in post.callouts %}   
    {% include "molecules-happening-callout" with { post: callout } %}
  {% endfor %}
  </div>
  {% endif %}
  <footer class="happening__footer">
    <h4 class="uc">Become part of something greater. Add your project!</h4>
    <a class="uc button green" href=".">Start a Project</a>
  </footer>
</section>  