@import "../../scss/refresh-global";

.happening{
  background: $theWhite;
  @include clearfix;
  
  a:hover{
    h3{
      transition: color .25s;
      color: $theGreen;
    }
  }

  &__header{
    h2{
      @extend .ff;
      color: $theBlue;
      line-height: 36px;;
      text-align: center;
      margin-top: 120px;
      border-bottom: none;
      margin-bottom: 60px;
    }
  }

  &__callouts{
    width: 1040px;
    margin: 0 auto;
    @include clearfix;

    .happening-callout{
      position: relative;
      @include clearfix;

      &:nth-of-type(1){
        position: relative;
        margin-bottom: 66px;

        .happening-callout__image{
          position: relative;
          width: 630px;
          float: left;
          z-index: 6;
          img{
            display: block;
          }
        }
        
        .happening-callout__box{
          width: 456px;
          position: absolute;
          top: 30px;
          right: 0;
          padding: 38px 50px;
          @include clearfix;
          z-index: 7;
          background: $theWhite;
        }
      }

      &:nth-of-type(2){
        width: 502px;
        padding-left: 38px;
        float: left;

        .happening-callout__image{
          position: relative;
          width: 100%;
          //float: left;
          z-index: 6;
          img{
            display: block;
          }
        }
        
        .happening-callout__box{
          width: 442px;
          position: relative;
          bottom: 30px;
          left: 30px;
          padding: 40px 30px;
          @include clearfix;
          z-index: 7;
          background: $theWhite;
        }
      }

      &:nth-of-type(3){
        width: 456px;
        float: right;
        padding-right: 38px;

        .happening-callout__image{
          position: relative;
          width: 388px;
          z-index: 6;
          img{
            display: block;
          }
        }
        
        .happening-callout__box{
          width: 456px;
          position: relative;
          bottom: 30px;
          left: 48px;
          padding: 40px 30px;
          @include clearfix;
          z-index: 7;
          background: $theWhite;
        }
      }

      &__box{
        h3{
          color: $theBlack;
          font-weight: bold;
          @extend .barlow;
          @extend .ff;
          margin-top: 0px;
          margin-bottom: 20px;
          transition: color .25s;
        }
        .location{
          font-style: italic;
          @extend .lato;
          @extend .fb;
          font-weight: normal;
          color: $theBlack;
          display: inline-block;
          border-right: 2px solid #C7C7B7;
          padding-right: 10px;
          margin-right: 8px;
        }

        .writeup p{
          @extend .lato;
          @extend .fb;
          font-weight: normal;
          color: $theBlack;
          margin-bottom: 36px;
          line-height: 24px;
        }

        .progress-bar{
          &__number,&__percent{
            @extend .barlow;
            font-weight: normal;
            color: $theGreen;
            font-size: 32px;
          }
          &__funded{
            @extend .uc;
            @extend .barlow;
            letter-spacing: 0.1em;
            @extend .fa;
            color: $theGreen;
            margin-bottom: 12px;
          }
          &__bar{
            height: 6px;
            width: 347px; 
            position: relative; 
            margin-bottom: 22px;         
            /* Rectangle 20 Copy 8: */
            background-image: linear-gradient(-90deg, #3599CC 0%, #84BF41 100%);            
            .overlay{
              background: $theGranite;
              width: 100%;
              position: absolute;
              top: 0;
              right: 0;
              height: 6px;
            }
          }
          &__meta span{
            @extend .lato;
            @extend .fa;
            font-weight: regular;
            color: $theBlack;
            
            &.days-remaining:before{
              content: "";
              display: inline-block;
              border-left: 2px solid #C7C7B7;
              margin-left: 12px;
              padding-right: 14px;
              height: 22px;
              position: relative;
              top: 5px;
            }
          }
        }

      }
    }
  }

  &__footer{
    text-align: center;
    margin-bottom: 73px;

    h4{
      @extend .fd;
      line-height: 28px;
      font-weight: bold;
      color: $theBlack;
      padding: 20px 0;
    }
  }
}