<section class="hero">
  <div class="hero__overlay"></div>
  <!-- TODO use the SVG overlay -->
  <!-- <video autoplay loop>
      <source src="../../images/test.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      <img src="../../images/screenshot.png" title="Your browser does not support the <video> tag">
  </video> -->
  <img class="hero__static" src="../../images/screenshot.png"/>
  <div class="hero__text">
    <span>You’re one step away<br/>from making your community</span><br/>
    <span class="active-text">better.</span><!--<span class="cursor">|</span>-->
  </div>
</section>