<footer class="page-footer">
  <div class="page-footer__inner-wrap">
    <figure class="page-footer__top">
      <blockquote class="page-footer__quote">
          <p>I used to dread fundraising. It's great knowing that all the supports and personal attention will be there to make the process painless and effective. We've had a great, memorable and transformative experience.”</p>
      </blockquote>
      <figcaption class="page-footer__caption">
          <strong>Joe Matunis</strong><br/>
          El Puente Cycling Club, Project Leader,<br/> Brooklyn, NY
      </figcaption>
    </figure>  
    <ul class="page-footer__featured">
      <li>Featured In</li>
      <li><img src="../../images/atlantic-cities.png"/></li>
      <li><img src="../../images/next-american-city.png"/></li>
      <li><img src="../../images/time.png"/></li>
      <li><img src="../../images/wnyc.png"/></li>
      <li><img src="../../images/fast-company.png"/></li>
      <li><img src="../../images/wsj.png"/></li>
    </ul> 
    <div class="page-footer__bottom">
      <div class="page-footer__left left">
        <nav class="page-footer__nav">
          <ul>
            <li class="start-a-project"><a href=".">Start a Project</a></li>
            <li><a href=".">About</a></li>
            <li><a href=".">Blog</a></li>
            <li><a href=".">Support</a></li>
            <li><a href=".">Donate to ioby</a></li>
            <li><a href=".">Press Room</a></li>
            <li><a href=".">Contact</a></li>
            <li><a href=".">Jobs</a></li>
          </ul>
        </nav>
        <div class="page-footer__left-bottom">
          <div class="page-footer__logo">
            {% include "atoms-footer-logo" %}
          </div>
          <div class="page-footer__fine-print">
            <small>copyright © 2018 ioby, a 501(c)(3) nonprofit</small>
            <nav class="page-footer__privacy-nav">
              <ul>
                <li><a href=".">Privacy Policy</a></li>
                <li><a href=".">Terms &amp; Conditions</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="page-footer__right right">
        <div class="page-footer__get-in-touch">
          <strong class="uc">Get in Touch: </strong><span><a href="tel:.">917.464.4515</a> or <a href=".">Email</a></span>
        </div>
        <div class="page-footer__signup">
          <strong class="uc">Join Our Newsletter</strong>
          <form name="footer-signup">
            <label class="visually-hidden" for="footer-email">Email</label>
            <input id="footer-email" type="email" name="email" placeholder="Email address"/>
            <input type="submit" value="Sign Up"/>
          </form>
        </div>
        <div class="page-footer__follow">
          <strong><span class="uc">Follow</span> Ioby</strong>
          <nav class="page-footer__social-nav">
            <ul>
              <li><a href=".">{% include "atoms-twitter-logo-footer" %}</a></li>
              <li><a href=".">{% include "atoms-facebook-logo-footer" %}</a></li>
              <li><a href=".">{% include "atoms-vimeo-logo" %}</a></li>
              <li><a href=".">{% include "atoms-instagram-logo-footer" %}</a></li>
              <li><a href=".">{% include "atoms-rss-logo" %}</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>