<section class="connect">
  <div class="connect__inside">
    <header class="connect__header">
      <h3 class="connect__title">Want ideas and inspiration for transforming your own community?<span>Connect with us.</span></h3>
    </header>
    <div class="connect__body">
      <div class="connect__newsletter">
        <h4 class="connect__newsletter-title">Join Our Newsletter</h4>
        <div class="connect__newsletter-form-item">
          <label class="visually-hidden" for="connect-email">Email address</label>
          <input type="email" name="email" id="connect-email" placeholder="Email address"/>
          <input type="submit" value="Sign up"/>
        </div><!--/.connect__newsletter-form-item-->
      </div><!--/.connect__newsletter-->
      <div class="connect__social">
        <h4 class="connect__social-title">Get Social</h4>
        <div class="connect__social-list">
          <a href="." class="twitter" >{% include "atoms-social-twitter-white" %}</a>
          <a href="." class="facebook" >{% include "atoms-social-facebook-white" %}</a>
          <a href="." class="instagram" >{% include "atoms-social-instagram-white" %}</a>
        </div>
      </div><!--/.connect__social-->
    </div><!--/.connect__body-->
  </div><!--/.connect__inside-->
</section><!--/.connect-->
