<section class="updates">
  <div class="updates__inside">
    <ul class="updates__body">
      {% for post2 in post.list %}
        <li class="updates__item">
          {% include 'molecules-update' with { post : post2 } %}
        </li>
      {% endfor %}
    </ul>
  </div><!--/.updates__inside-->
</section><!--/.updates-->
