<section class="transformation">
  <h2>Transformation starts with<span>a single, powerful idea</span></h2>
  <div class="transformation__callouts">
    <div class="transformation__callout img-left">
      <div class="transformation__callout-image">
        <img src="../../images/placeholder-callout-green.png"/>
      </div>
      <div class="transformation__callout-text">
        <h3>Someone like you</h3>
        <p>An everyday citizen comes to ioby with an idea for how to make their community safer, greener, more liveable,  or fun.</p>
      </div>
    </div>
    <div class="transformation__callout img-right">
      <div class="transformation__callout-image">
        <img src="../../images/placeholder-callout-orange.png"/>
      </div>
      <div class="transformation__callout-text">
        <h3>With help from ioby</h3>
        <p>ioby provides that leader with the tools, resources, and support they need to bring their ideas to life.</p>
      </div>
    </div>
    <div class="transformation__callout img-left">
      <div class="transformation__callout-image">
        <img src="../../images/placeholder-callout-purple.png"/>
      </div>
      <div class="transformation__callout-text">
        <h3>Becomes a part of something greater</h3>
        <p>Each project becomes part of a national network of local residents making powerful change.</p>
      </div>
    </div>
  </div>
  <a href=".">Learn more about how you can start a citizen led project</a>
</section>