<div class="">
  <a href=".">
    <div class="featured-link__image"><img src="{{ link.image }}"/></div>
    <div class="featured-link__description link-color-{{ link.color }}"><p>{{ link.description|raw }}</p></div>
  </a>
</div>