{% extends 'wrappers-open' %}

{% block after_header %}
<header id="pageheader">
    <div class="full">

            <h1 id="pagetitle">About ioby</h1>
              <div class="region region-header">
    <div id="block-block-6" class="block block-block">


  <div class="content">
    <p class="rteright"><a href="/press-room">Press Room</a>&nbsp; | &nbsp;<a href="/jobs">Jobs</a>&nbsp; | &nbsp;<a href="/contact">Contact</a></p>
  </div> <!-- /.content -->

</div> <!-- /.block -->
  </div>

                </div>
  </header>
{% endblock %}

{% block main %}
<div id="content" class="column" role="main">


              <div class="tabs"></div>
                          <div class="region region-content">
    <div id="block-system-main" class="block block-system">


  <div class="content">
    <article id="node-170" class="node node-about-ioby-section clearfix">

<nav>
  <ul class="tabs"><li class="first leaf active-trail"><a href="/about" class="active-trail active">About ioby</a></li>
<li class="leaf"><a href="/about/impact">Impact</a></li>
<li class="leaf"><a href="/about/howwework">How We Work</a></li>
<li class="leaf"><a href="/about/principles">Mission</a></li>
<li class="leaf"><a href="/about/people">people</a></li>
<li class="last leaf"><a href="/about/transparency">Transparency</a></li>
</ul></nav>
<div class="content">
  <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><h3>
	More than just crowdfunding. Community-led positive change.</h3>
<p>ioby gives leaders the ability to organize all kinds of capital—cash, social networks, in-kind donations, volunteers, advocacy— to build real, lasting change from the ground up.&nbsp;</p>
<p><div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/rGsvIdb6ghU" name="fitvid0"></iframe></div></p>
<p>&nbsp;</p>
<h3>
	Three ways we're different</h3>
<p><img alt="How we work" src="//www.ioby.org/blog/wp-content/uploads/2018/02/1.png" width="300"></p>
<p>ioby's high success rate for funded projects is rooted in a <strong>unique model of fundraising coaching.</strong>&nbsp; With ioby, you won't just put up a page, you'll work with our team to craft the most effective campaign, fundraising plan, timeline, and budget. We support and train leaders whether they are working on a $500, $5,000, or $50,000 goal.</p>
<p><img alt="How we work" src="//www.ioby.org/blog/wp-content/uploads/2018/02/2.png" width="300"></p>
<p>Unlike other platforms, we support <strong>fully tax-deductible donations </strong>because we offer fiscal sponsorship to groups that are not established as a nonprofit. Our model encourages grassroots leadership regardless of incorporation status.</p>
<p><img alt="How we work" src="//www.ioby.org/blog/wp-content/uploads/2018/02/3.png" width="300"></p>
<p>ioby also believes in <strong>the power of offline connections.</strong> We can connect you with experts in subjects like urban planning, green infrastructure, and more for help implementing your project. And we hold regular in-person convenings and webinars so our community of changemakers can share knowledge, challenges and experiences.</p>
<p>&nbsp;</p>
<h3>
	What's your big idea to improve your community?</h3>
<p>
	<strong><a class="button" href="//www.ioby.org/idea">start a project</a>&nbsp; or&nbsp;</strong><strong><a class="button" href="//www.ioby.org/projects?status=1&amp;items_per_page=All">pick a project</a></strong></p>
<!-- Facebook Pixel Code --><script>
<!--//--><![CDATA[// ><!--

!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1385084981572384'); // Insert your pixel ID here.
fbq('track', 'PageView');

//--><!]]>
</script><p></p><noscript><img height="1" width="1" style="display:none" />
src="<a href="https://www.facebook.com/tr?id=1385084981572384&amp;ev=PageView&amp;noscript=1">https://www.facebook.com/tr?id=1385084981572384&amp;ev=PageView&amp;noscript=1</a>"<br />
/&gt;</noscript>
<!-- DO NOT MODIFY --><!-- End Facebook Pixel Code --><script src="//app-sj19.marketo.com/js/forms2/js/forms2.min.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[// ><!--

setTimeout(function() {
  MktoForms2.loadForm("//app-sj19.marketo.com", "257-KWL-011", 1018, function (form){
    MktoForms2.lightbox(form).show();
    form.onSuccess(function(values, followUpUrl){
    // Hide the form after submission
    form.getFormElem().hide();
    var list = document.getElementsByClassName("mktoModal");
    for(var i = list.length - 1; 0 <= i; i--)
    if(list[i] && list[i].parentElement)
    list[i].parentElement.removeChild(list[i]);
    //return false to prevent the submission handler from taking the lead to the follow up url.
      return false;
    });
  });
}, 30000);

//--><!]]>
</script></div></div></div></div> <!-- /.content -->

  <footer>
          </footer>


</article> <!-- /.node -->
  </div> <!-- /.content -->

</div> <!-- /.block -->
  </div>
          </div>
          <div id="rail" class="column">
            <div class="region region-sidebar">
        <section id="block-aboutioby-ioby-current-stats" class="block block-aboutioby">

            <h2>By the Numbers</h2>

      <div class="content">
        <ul id="ioby-current-stats"><li><div class="stat_num">$5,377,592</div><div class="stat_label">Total Given</div></li><li><div class="stat_num">1,677</div><div class="stat_label">Projects successfully launched</div></li><li><div class="stat_num">109</div><div class="stat_label">Funded projects that make streets safer for pedestrians and cyclists</div></li><li><div class="stat_num">262</div><div class="stat_label">Funded projects with a focus on placemaking</div></li><li><div class="stat_num">$4,181</div><div class="stat_label">average funding goal</div></li><li><div class="stat_num">282</div><div class="stat_label">number of projects funding right now</div></li><li><div class="stat_num">$35</div><div class="stat_label">Average donation size</div></li><li><div class="stat_num">71</div><div class="stat_label">average number of donors to a project</div></li><li><div class="stat_num">87%</div><div class="stat_label">funding success rate</div></li><li><div class="stat_num">260</div><div class="stat_label">cities with an ioby Leader</div></li><li><div class="stat_num">18,854</div><div class="stat_label">People trained</div></li><li><div class="stat_num">71%</div><div class="stat_label">projects that also have a social justice objective</div></li><li><div class="stat_num">Cincinnati</div><div class="stat_label">City most obsessed with right now</div></li><li><div class="stat_num">53%</div><div class="stat_label">donors that also volunteer with a project</div></li><li><div class="stat_num">MARTA</div><div class="stat_label">Transit Authority We Admire Most</div></li></ul>  </div> <!-- /.content -->

    </section> <!-- /.block -->
      </div>
        </div>
{% endblock %}
