
.featured-project {
  max-width: 631px;
  margin-left: auto;
  margin-right: auto;

  &, * {
    box-sizing: border-box;
  }
  
  a {
    display: block;

    &:hover {
      text-shadow: none;
    }
  }

  &__image {
    img {
      display: block;
      max-width: 100%;
      width: auto;
    }
  }

  &__title {
    font-family: $barlow;
    font-weight: 800;
    font-size: 24px;
    line-height: calc(28/24);
    color: #000000;
    margin: 0;
    padding: 0;
    border: none;
    transition: color .2s ease;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__text {
    margin: -40px 30px 0;
    background: white;
    padding: 32px 32px 40px;
    position: relative;

    @media (max-width: 400px) {
      margin: -28px 14px 0;
      padding: 18px 18px 30px;
    }
  }

  &__location-and-description {
    color: #414245;
    margin-top: 10px;
    line-height: calc(24/16);
  }

  &__description {
    font-family: $lato;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    display: inline;
    vertical-align: middle;
  }

  &__location {
    font-family: $lato;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    font-style: italic;
    display: inline;
    vertical-align: middle;


    &:after {
      content: '';
      width: 2px;
      height: 20px;
      background: #C7C7B7;
      display: inline-block;
      vertical-align: middle;
      margin-left: 11px;
      margin-right: 10px;
      position: relative;
      top: -1px;
    }
  }

  &__progress {
    margin-top: 30px;

    &-stat,
    &-funded-text {
      color: #78AD3B;
    }

    &-stat {
      font-size: 32px;
      font-family: $barlow;
      font-weight: 400;
    }

    &-funded-text {
      font-size: 14px;
      font-family: $barlow;
      font-weight: 800;
      letter-spacing: .88px;
      text-transform: uppercase;
    }

    &-bar {
      height: 6px;
      width: 100%;
      position: relative;
      margin-bottom: 17px;
      margin-top: 10px;
      background-image: linear-gradient(90deg, #3599CC 0%, #84BF41 100%);

      &-inside {
        position: absolute;
        background: $theGranite;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__progress-bar-meta {
    color: #414245;
    font-family: $lato;
    font-weight: 400;
  }

  &__progress-bar-days {

    @media (max-width: 400px) {
      display: block;
    }

    &:before {
      content: '';
      width: 2px;
      height: 20px;
      background: #C7C7B7;
      display: inline-block;
      vertical-align: middle;
      margin-left: 11px;
      margin-right: 11px;
      position: relative;
      top: -2px;

      @media (max-width: 400px) {
        display: none;
      }
    }
  }
}
