
// Type Scale.
$tsA: 14px;
$tsB: 16px;
$tsC: 18px;
$tsD: 20px;
$tsE: 24px;
$tsF: 30px;
$tsG: 36px;
$tsH: 42px;
$tsI: 50px;
$tsJ: 60px;

@mixin fade() {
  opacity: 1;
  transition: opacity .25s;

  &:hover {
    opacity: .75;
    transition: opacity .25s;
  }
}

@mixin textFade($color) {
  transition: color .25s;
  &:hover{
    color: lighten($color,25%);
    transition: color .25s;
  }
}

@mixin bgFade($color) {
  transition: background-color .25s;
  &:hover{
    background-color: lighten($color,25%);
    transition: background-color .25s;
  }
}


// Clearfix mixin. Ex: @include clearfix;
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: ' ';
  }
}


// Media Query mixin. Ex: @include mq($from: $bp-2) {} // see _mq.scss in source/scss
/// @example scss
///  .element {
///    @include mq($from: $bp4) {
///      color: red;
///    }
///    @include mq($until: $bp-2) {
///      color: blue;
///    }
///    @include mq(mobile, $bp-2) {
///      color: green;
///    }
///    @include mq($from: $bp-2, $and: '(orientation: landscape)') {
///      color: teal;
///    }
///    @include mq(950px) {
///      color: hotpink;
///    }
///    @include mq(tablet, $media-type: screen) {
///      color: hotpink;
///    }
///    // Advanced use:
///    $my-breakpoints: (L: 900px, XL: 1200px);
///    @include mq(L, $breakpoints: $my-breakpoints, $static-breakpoint: L) {
///      color: hotpink;
///    }
///  }

// Breakpoints. @TODO: reduce and rename these.
$bp-1: 1375px;
$bp-2: 1110px;
$bp-3: 900px;
$bp-4: 800px;
$bp-5: 700px;
$bp-6: 600px;
$bp-7: 500px;
$bp-8: 400px;
$maxwidth: 1590px;

@mixin tiny() {
  @media only screen and (max-width: 550px) {
      @content;
  }
}

@mixin small() {
  @media only screen and (max-width: 1000px) {
      @content;
  }
}

@mixin medium() {
  @media only screen and (max-width: 1400px) {
      @content;
  }
}

@mixin onlyBig(){
  @media only screen and (min-width: 1401px) {
    @content;
  }
}
