
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  {# Define paths for convenience #}
  {% set css = '../../css' %}
  {% set js = '../../js' %}
  {% set cms = '../../cms' %}
  {% set jshead = '../../js/vendorhead' %}
  {% set favicons = '../../favicons' %}



  </body>
</html>
