<footer class="page-footer">
  <div class="page-footer__top-area">
    <div class="page-footer__top-area-inside">
      <figure class="page-footer__top">
        <blockquote class="page-footer__quote">
            <p>I used to dread fundraising. It's great knowing that all the supports and personal attention will be there to make the process painless and effective. We've had a great, memorable and transformative experience.”</p>
        </blockquote>
        <figcaption class="page-footer__caption">
            <span><strong>Joe Matunis</strong></span>
            <span>El Puente Cycling Club, Project Leader,</span>
            <span>Brooklyn, NY</span>
        </figcaption>
      </figure>

      <div class="page-footer__featured">
        <div class="page-footer__featured-label" >Featured In</div>
        <ul class="page-footer__featured-list">
          <li><img alt="Atlantic Cities" src="../../../../img/ioby_featuredInLogo_atlanticCities.png"/></li>
          <li><img alt="Next American City" src="../../../../img/ioby_featuredInLogo_nextAmericanCity.png"/></li>
          <li><img alt="Time" src="../../../../img/ioby_featuredInLogo_time.png"/></li>
          <li><img alt="WNYC" src="../../../../img/ioby_featuredInLogo_WNYC.png"/></li>
          <li><img alt="Fast Company" src="../../../../img/ioby_featuredInLogo_fastCo.png"/></li>
          <li><img alt="The Wall Street Journal" src="../../../../img/ioby_featuredInLogo_wallStreet.png"/></li>
        </ul>
      </div><!--/.page-footer__featured-->
    </div><!--/.page-footer__top-area-inside-->
  </div><!--/.page-footer__top-area-->
  <div class="page-footer__bottom-area">
    <div class="page-footer__bottom-area-inside">

      <div class="page-footer__bottom">

        <div class="page-footer__left">
          <div class="page-footer__nav">
            <div class="page-footer__nav-col1">
              <a href=".">Start a Project</a>
            </div>
            <div class="page-footer__nav-col2">
              <a href=".">About</a>
              <a href=".">Blog</a>
            </div>
            <div class="page-footer__nav-col3">
              <a href=".">Help</a>
              <a href=".">Donate to ioby</a>
            </div>
            <div class="page-footer__nav-col4">
              <a href=".">Press Room</a>
              <a href=".">Contact</a>
              <a href=".">Jobs</a>
            </div>
          </div>
        </div><!--/.page-footer__left-->

        <div class="page-footer__right">

          <div class="page-footer__get-in-touch">
            <div class="page-footer__get-in-touch-label">Get in Touch:</div>
            <div class="page-footer__get-in-touch-body">917.464.4515 or <a href=".">Email</a></div>
          </div><!--/.page-footer__get-in-touch-->

          <div class="page-footer__signup">
            <div class="page-footer__signup-label">Join Our Newsletter</div>
            <form name="footer-signup">
              <label class="visually-hidden" for="footer-email">Email</label>
              <div class="page-footer__signup-form">
                <input id="footer-email" type="email" name="email" placeholder="Email address"/>
                <input type="submit" value="Sign Up"/>
              </div>
            </form>
          </div><!--/.page-footer__signup-->

          <div class="page-footer__follow">
            <div class="page-footer__follow-label">Follow <span>Ioby</span></div>
            <nav class="page-footer__follow-social-nav">
              <ul>
                <li><a href=".">{% include "atoms-twitter-logo-footer" %}</a></li>
                <li><a href=".">{% include "atoms-facebook-logo-footer" %}</a></li>
                <li><a href=".">{% include "atoms-instagram-logo-footer" %}</a></li>
                <li><a href=".">{% include "atoms-rss-logo" %}</a></li>
              </ul>
            </nav>
          </div><!--/.page-footer__follow-->

        </div><!--/.page-footer__right-->

      </div><!--/.page-footer__bottom-->

      <div class="page-footer__far-bottom">
        <div class="page-footer__logo">
          {% include "atoms-footer-logo" %}
        </div>
        <div class="page-footer__fine-print">
          <p>copyright © 2018 ioby, a 501(c)(3) nonprofit</p>
          <nav class="page-footer__privacy-nav">
            <ul>
              <li><a href=".">Privacy Policy</a></li>
              <li><a href=".">Terms &amp; Conditions</a></li>
              <li><a href=".">Tax Information</a></li>
            </ul>
          </nav>
        </div>
      </div><!--/.page-footer__far-bottom-->
    </div><!--/.page-footer__bottom-area-inside-->
  </div><!--/.page-footer__bottom-area-->
</footer><!--/.page-footer-->
