@charset "utf-8";
#content p,
.region-content p {
  margin: 0.9em 0;
}
#content .content li,
.region-content .content li {
  margin: 0.9em 0;
}
#content .content li li,
.region-content .content li li {
  margin: 0.6em 0;
}
#content ul.inline li,
.region-content ul.inline li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 94%;
  margin-top: 0.2em !important;
}
#content article.node-project-2 #overview img,
#content article.node-project-blog .content img,
.region-content article.node-project-2 #overview img,
.region-content article.node-project-blog .content img {
  max-width: 560px;
}
#rail ul {
  margin-left: 1.8em;
}
#rail ul li {
  margin: 0.8em;
}
