.page-blog #content,
.node-type-blog #content,
 {

  h3 {
    margin:1.2em 0 0 0;
  }
  
  p.submitted {
    @extend .smallcaps;
    color: $blue;
  }

  article {
    border-bottom: 1px solid $beige;
    
    footer {
      
      margin-bottom: 10px;
      
      ul {
        margin: 0 0 0 0;
        float: right;
        height: 25px;
      }
    }  
  }

}

#block-views-ioby-blogs-block-1 {
  .view-ioby-blogs {
    .views-row {
      padding:0.9em 0;
      border-bottom:1px solid $light;
    }

    .views-field-title a {
      font-size:16px;
      font-weight:bold;
    }

    .views-field-created {
      color:$blue;
      font-size:11px;
      text-transform:uppercase;
      font-weight:bold;
    }

    p {
      margin:0.3em 0 0 0;
    }

    span.read-more a {
      /* font-weight:bold; */
    }

    .view-footer {
      text-align:right;
      @extend .smallcaps;
      padding-top: 10px;
      
    }
  }
}

.node-type-blog #content article {
  border-bottom: none;

  footer {
    height: 30px;
    border-bottom: 1px solid $beige;
  }
}