.page-cart #content {

  table {
    margin:30px auto;
    @include responsive;
  }

  td {
    padding: 5px 7px;

    input.form-submit[type="submit"] {
      font-size:120%;
      padding:2px 10px;
     /* min-width: 30px; */
    }

    &.views-field-line-item-title {
      min-width: 250px;
      @media (max-width: $small-break) {
        min-width: 0px;
      }
    }
  }
  th {
    font-size: 108%;
  }

  .line-item-total {
    font-size: 160%;

    .line-item-total-raw {
      color: $active;
    }
  }
}

.page-checkout- #main form {
  width: 70%;
  margin:0 auto;
  @include responsive;

  tr.even, tr.odd {
    background-color: #fff;
    border-bottom: 1px solid $light;
  }

  fieldset.fieldset-wrapper {
    margin:5px 20px;
  }

  fieldset.checkout-buttons div.fieldset-wrapper {
    padding:20px 20px;
    border: 1px solid $light;
    @media (max-width: $small-break) {
      text-align: center;
    }
  }

  table {
    width: 80%;
    margin: 0 auto;
    @media (max-width: $small-break) {
      font-size: 1.1em;
    }

    &.commerce-price-formatted-components {
      margin-bottom: 10px;
      width: 80% !important;
    }

  }

  fieldset.sponsor_info_pane .fieldset-wrapper,
  fieldset.sponsor_review_pane .fieldset-wrapper {
    background: $orange;
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
}

th.views-field-commerce-total {
  text-align: right;
}

#top .full > div.region-cart {
  float: right;
  font-size: 94%;
  padding-top: 7px;
  text-transform: uppercase;

  .line-item-quantity {
    font-weight: bold;
    color:#fff;
    @extend .inblock;
    @include rounded(10px);
    background:$orange url(../img/button-bg.png) repeat-x 0 -35px;
    background-repeat: repeat-x;
    text-align: center;
    padding: 0 9px;
    @media (max-width: $small-break) {
      background: #ffffff;
      color: $orange;
      font-size: 16px;
    }
  }

  .cart-empty-block {
    display: none;
  }
}

#promocode_validation {
  background: #780032;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.views-field-edit-amount {
  div.form-item {
    display: inline;
    margin-left: 0px;

    input {
      margin-left: 1px;
    }
  }
}

#top .full > div.region-cart {
  padding-top: 0;
  margin-left: 0.25em;
  .line-item-summary {
    padding-top: 7px;
    margin-bottom:0;
    padding-bottom:7px;
    margin-top:0;
    .line-item-quantity {
      float: none;
      margin-left: 0.25em;
    }
  }
  .cart-link {
    @media (max-width: $small-break) {
    color: #ffffff;
    font-size: 18px;
    }
  }
}

fieldset .fieldset-wrapper {
  @media (max-width: $small-break) {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 960px){
.views-field-edit-amount div.form-item{
  display: inline-block;
  width: calc(100% - 8px);
  float: right;
  position: relative;
  bottom: 2.5px;
}
}