@charset "utf-8";

.page-projects-browse{
  @media screen and (max-width: 960px){
    #main{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      & > *{
        order: 1;
      }

      #sidr-facets{
        order: 0;
      }
    }
  }
}

.node-type-about-ioby-section{
  @media screen and (max-width: 960px){
    .ioby-step-indicator{
      overflow: hidden;
      display: block;

      li{
        float: none;
        text-align: center;
      }
    }
  }
}