$small-break: 960px;
$extrasmall-break: 768px;

@mixin responsive  {
  @media (max-width: $small-break) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@mixin remove-padding {
  @media (max-width: $small-break) {
  padding-left: 0;
  padding-right: 0;
}
}

@mixin fixed-width {
  @media (max-width: $small-break) {
    max-width: 700px;
  }
  @media (max-width: $extrasmall-break) {
    max-width: 450px;
  }
}

@mixin button-stack {
  @media (max-width: $small-break) {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
