<section class="cities">
  <div class="cities__inside">
    <header class="cities__header">
      <h2 class="cities__title">{% include "atoms-featured-cities-icon" %} {{ post.title }}</h2>
    </header>
    <ul class="cities__body">
      {% for post2 in post.list %}
        <li class="cities__item">
          <div class="city">
            <a href=".">{{ post2.title }}</a>
          </div><!--/.city-->
        </li>
      {% endfor %}
    </ul>
  </div><!--/.cities__inside-->
</section><!--/.cities-->
