<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #2A1756;"></span>
		<span class="sg-color-text">
			<span class="sg-name">Purple</span>
			<span class="sg-label">#2A1756</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #150E33;"></span>
		<span class="sg-color-text">
			<span class="sg-name">Dark Purple</span>
			<span class="sg-label">#150E33</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #17DCFF;"></span>
		<span class="sg-color-text">
			<span class="sg-name">Cyan</span>
			<span class="sg-label">#17DCFF</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #10ACC6;"></span>
		<span class="sg-color-text">
			<span class="sg-name">Dark Cyan</span>
			<span class="sg-label">#10ACC6</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0D7F99;"></span>
		<span class="sg-color-text">
			<span class="sg-name">Darker Cyan</span>
			<span class="sg-label">#0D7F99</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #72E7D4;"></span>
		<span class="sg-color-text">
			<span class="sg-name">Teal</span>
			<span class="sg-label">#72E7D4</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D53570;"></span>
		<span class="sg-color-text">
			<span class="sg-name">Pink</span>
			<span class="sg-label">#D53570</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D8D8D8;"></span>
		<span class="sg-color-text">
			<span class="sg-name">Gray</span>
			<span class="sg-label">#D8D8D8</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch bg-white" style="background: #FFFFFF;"></span>
		<span class="sg-color-text">
			<span class="sg-name">White</span>
			<span class="sg-label">#FFFFFF</span>
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-color-text">
			<span class="sg-name">Black</span>
			<span class="sg-label">#000000</span>
		</span>
	</li>
</ul>